


/*{
	box-sizing: border-box; /* border-box tells the browser to account for any border and padding in the values you specify for an element's width and height. 
	If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added, and the content box will shrink to absorb that extra width. 
	https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserverEntry/borderBoxSize */


/* ---- PARAGRAPH AND TITLES STYLES ---- */ 
body {
	margin: 0;
	background-color:#fff;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-style: normal;
}

.hero {
	background-color: #fff;
	background-image: url("..//img/background.png") ;
	padding-top: 150px;
	padding-bottom: 250px;
	background-size: cover;
	
}

p {
	font-size: 1.25rem;
	color: #400000;
}

a{
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
}

h5 {
	color: #870000;
	font-family: Inter, sans-serif;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: bolder;
	line-height: normal;
	margin-bottom: 0;
	margin-right: 1.5rem;
	text-align: center;
}

h4 {
	color: #0C6D62;
	text-shadow: 1.77px 1.77px 3.54px rgba(0, 0, 0, 0.042);
	font-family: Inter, sans-serif;
	font-size: 2rem;
	font-style: normal;
	font-weight: bolder;
	line-height: normal;
	margin-bottom: 0;
}

h3 {
	color: #140B01;
	text-shadow: 1.77px 1.77px 3.54px rgba(0, 0, 0, 0.15);
	font-family: Inter, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 4rem;
	margin-bottom: 8px;
}

h2 {
	color: #870000;
	font-family: "Noto Serif";
	font-size: 3rem;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	margin-left: 4rem;
}

h1 {
	color: #FCFAF7;
	text-shadow: 1.77px 1.77px 3.54px rgba(0, 0, 0, 0.15);
	font-family: "Noto Serif";
	font-size: 95px;
	font-style: normal;
	font-weight: 700;
	line-height: 95%; 
	margin-left: 66px;
	margin-top: 8px;
	}

/* --------- HEADER --------- */ 



.Logo {
	float: left;
	width: 204.155px;
	height: 54.792px;
	flex-shrink: 0;
	margin-left: 66px;
	margin-top: 40;
}

.navbar {
	display: flex;
	align-items: center;
	width: 100%;
	position: fixed;
    background-image: linear-gradient(white, transparent);
	margin: 0 auto;
	z-index: 100;
}
/*
.navbar ul {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: baseline;
	flex-wrap: wrap;
	margin: 0;
	padding-left: 248px;
	list-style: none;
}  */  


.navbar li{
	padding-top: 12px;
	display: inline-block;
	margin-left: 64px;
}

.navbar a {
	display: inline-block;
	color: #400000;
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;
	padding: 0.25em 0.45em;
	margin: 0;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	text-align: center;
}

.navbar a:hover {
	color: #0c6d62;
  }


/* ---------BUTTONS --------- */ 
.Bttn {
	padding-left: 66px;
}


.button {
	color: #FEF9F3;
	background-color: #0c6d62;
	font-family: Inter, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 125%; /* 27.5px */
	padding: 11px 30px;
	border-radius: 19px;
	border: none;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
	margin-right: 29px;
}


.button:hover {
	background-color: #0BAA98;
}

.news-button{
	background-color: #0C6D62;
	border: none;
	padding: 1rem;
	color: #f2ede7;
	border-radius: 0.25rem;
	margin-top: 2rem;
	font-size: 1rem;
}


/* --------- Featured Events, Cards on Hero --------- */ 


.card-container{
	display: flex;
	flex-direction: row;
	justify-content: center; 
	flex-wrap: wrap;
	margin-top: 100px ;
}

.card {
	
	height: 725px;
	width: 455px;
	background-color: #FEF9F3;
	border-radius: 10px;
	overflow: hidden;
	margin: 1.3rem;
}

.card-content {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.btn {
	
	font-size: 1.3rem;

}






.content {
	color: #0C6D62;
}

.Q {
	color: #FCFAF7;
	text-shadow: 1.77px 1.77px 3.54px rgba(0, 0, 0, 0.15);
	font-family: "Noto Serif";
	font-size: 95px;
	font-style: normal;
	font-weight: 700;
	line-height: 95%; 
	margin: 0;
}

.QandA {
	margin-top: 132px;
	padding-top: 172px;
	padding-bottom: 172px;
	padding-left: 66px;
	background-image: url("..//img/Rectangle-27.png");
	background-size: cover;
}



.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 6rem;
}
.Answers {
	font-size: 22px;
}

.Questions {
	margin: 0;
} 




/* ------- ABOUT US --------- */ 

.About-Hero {
	background-color: #fff;
	background-image: url("../img/Rectangle-29.png");
	padding-top: 569px;
	padding-bottom: 50px;
	background-size: cover;
}

.About-Container {
	display: flex;
	flex-direction: column;
	margin: 6rem;
}

.text {
	display: flex;
	justify-content: center;
}

.About-p {
	color: #140B01;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
}

/* NEWS AND EVENTS */  

.news-hero {
	display: flex;
	flex-direction: row;
	min-height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	align-items: flex-end;
	background-image: url(../img/news-and-events.jpg);
  }

.upcoming-events{
	margin: 4rem;
}

.main-upcoming-events{
	display: flex;
	background-color:#F9F8F6;
	padding: 4rem;
}

.main-event-card{
	display: flex;
	flex-direction: row;
	justify-content: center; 
	background-color: #FEF9F3;
	border-radius: 1rem;
	padding: 2rem;
	margin-top: 2rem;
}
.main-event-card-content{
	
	flex-direction: column;	
	padding: 3rem;
}


/* ----- MOUNTAIN SAFETY ----- */ 

.mountain-safety-hero {
	display: flex;
	flex-direction: row;
	min-height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	align-items: flex-end;
	background-image: url(../img/mountain-safety-banner.jpg);
  }

.mountain-hero-text {
	color: white;
	width: 60%;
	margin-left: 2rem;
	min-width: 6rem;
  }
  
  .mountain-safety-intro {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 3rem 6rem;
	justify-content: space-between;
	min-height: 20rem;
  }
  
  .paragraph-style-1 {
	color: #0c6d62;
	padding: 1rem;
	width: 45%;
  }

  .full-column {
	grid-column: 1 / 8;
  }
  
  .three-column {
	grid-column: auto / span 3;
  }

  .avalanche-safety {
	background-color: #f2ede7;
	padding: 3rem;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
  }
  .image-width-text-overlap {
	width: 50%;
	height: 100vh;
	background-image: url(../img/avalanche-safety.png);
	background-repeat: no-repeat;
	background-position: center center;
  }
  .text-overlap {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	justify-content: center;
	background: rgb(255, 255, 255);
	padding: 2rem;
	margin-left: -15rem;
	min-height: 23rem;
  }

  .avalanche.content {
	color: #0c6d62;
  }
  
  .risk-levels {
	background-image: url(../img/risk-levels.jpg);
	background-size: cover;
	padding: 2rem;
	min-height: 80vh;
  }
  
 .Hypothermia {
	background-color: #400000;
	padding: 4rem;
  }
  
  .Hypothermia p {
	color: white;
  }

  strong {
	color: #0c6d62;
  }
  
  .risk-levels-content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 1rem;
	margin: 1rem;
  }
  
  .risk-levels-card {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	background-color: #f2ede7b1;
	padding: 1rem;
	border-radius: 0.25rem;
	width: 100%;
	min-height: 50vh;
  }


/* -----FOOTER ----- */ 

footer {
	background-color: #870000;
	margin-top: 0px;
	padding: 3rem;
  }
  
  footer p {
	font-size: 12px;
	color: white;
  }

  .socialmedia {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 1rem;
	margin-bottom: 1rem;
  }